platform: azure
#  Your Azure subscription ID
subscription_id: <subscription_id>
#  From service principal output
appId: <appId>
#  From service principal output
tenant_id: <tenant_id>
#  From service principal output (password)
client_secret: <client_secret>
# max simultaneous test to run
max_threads: 3
# uncomment all platforms you want to test on
os:
    # - WindowsServer-2025-datacenter
    # - WindowsServer-2022-datacenter
    # - WindowsServer-2016-datacenter
    # - Windows11
    # - LinuxDebian12
    # - LinuxDebian12-ARM
    # - LinuxUbuntuServer_24_04-LTS
    # - LinuxUbuntuServer_24_04-LTS-ARM
    # - LinuxRhel9
    # - LinuxRhel9-ARM
    # - LinuxCentos8
    # - LinuxRocky9
    # - LinuxAlma9
# prefix to all resources groups
rg_prefix: AIC
# region to run the VMs in
region: westeurope
# at BARE MINIMUM use a Standard_B2s if you are using windows vms
vm_size: Standard_B2s
# same but for ARM vm's
arm_vm_size: Standard_B2pts_v2
# directory AIC will copy to the VM
project_root: ./example
# jenkins file path based on the project root
# You could use your complete Jenkins pipeline here however testing everything is only necessary once, we recommend running your complete pipleline once like before and then running a simplified version with AIC to test compatibility across different platforms.
# For the simplified version, you can just run your script/code and see if it crashes on each platform.
# for example see example/JenkinsfileRunOnly
jenkins_file: ./Jenkinsfile
# To get the list of plugins installed on your Jenkins server, run the following command: (and then based on this create your plugins.txt file)
# Generated by claude
# JENKINS_HOST=user:pwd@<Jenkins server ip>:8080
# curl -sSL "http://$JENKINS_HOST/pluginManager/api/xml?depth=1&xpath=/*/*/shortName&wrapper=plugins" | perl -pe 's/.*?<shortName>([\w-]+).*?(<\/\w+>)+/\1\n/g'
# if you do not have a Jenkins server, the plugins.txt file in example folder should work for you
plugin_file: ./plugins.txt
